@model Constructora.Models.ParametersModule.ProjectModel

@{ ViewBag.Title = "Detalles"; }

<h2>Detalles del proyecto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <h3>
            @Html.DisplayNameFor(model => model.Code)
        </h3>

        <h4>
            @Html.DisplayFor(model => model.Code)
        </h4>
        <br />
        <h3>
            @Html.DisplayNameFor(model => model.Name)
        </h3>

        <h4>
            @Html.DisplayFor(model => model.Name)
        </h4>
        <br />
        <h3>
            @Html.DisplayNameFor(model => model.Description)
        </h3>

        <h4>
            @Html.DisplayFor(model => model.Description)
        </h4>
        <br />
        <h3>
            @Html.DisplayNameFor(model => model.Picture)
        </h3>

        <h4>
            @Html.DisplayFor(model => model.Picture)
        </h4>
        <br />
        <h3>
            Ciudad
        </h3>

        <h4>
            @Html.DisplayFor(model => model.City.Name)
        </h4>
        <br />
    </dl>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    @Html.ActionLink("Regresar", "Index", "Home")
                </div>}
</div>