@model Constructora.Models.ParametersModule.CustomerModel

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar un cliente</h2>

<h3>¿Estas seguro de eliminar esta información?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Document)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cellphone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cellphone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Financial.NameJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Financial.NameJob)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
